<aside class="col-md-4 blog-sidebar">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">Welcome to my blog 'my way into coding'. I am a <em>Quereinsteiger</em> and started with coding in 2018(?!). I would like to document and share my thoughts and learnings on my way into a professional full-stack developer.</p>
  </div>

<div class="p-4">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social-media-links">
      <li> <%= link_to "#{fab_icon 'github'}".html_safe, 'https://github.com/Resetete' %> </li>
      <li> <%= link_to "#{fab_icon 'linkedin'}".html_safe, 'https://www.linkedin.com/in/theresa-mannschatz-975b598a/' %> </li>
      <li> <%= link_to "#{fas_icon 'envelope-square'}".html_safe, 'mailto:contact@theresamannschatz.design' %> </li>
      <li> <%= link_to "#{fab_icon 'behance-square'}".html_safe, 'https://www.behance.net/rese_m9404' %> </li>
    </ol>
  </div>
</aside>
