<div class="nav-scroller py-1 mb-5">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 text-muted" href="#">HTML</a>
    <a class="p-2 text-muted" href="#">CSS / SCSS </a>
    <a class="p-2 text-muted" href="#">Ruby</a>
    <a class="p-2 text-muted" href="#">Rails</a>
    <a class="p-2 text-muted" href="#">Panicking</a>
    <a class="p-2 text-muted" href="#">Remote work</a>
    <a class="p-2 text-muted" href="#">Other</a>
  </nav>
</div>
