<div class="nav-scroller py-1 mb-5">
  <nav class="nav d-flex justify-content-between">
    <% most_popular_topics_helper.each do |topic_id|  %>
      <%= link_to topic_name_helper(topic_id), topic_path(topic_id), class: "p-2 text-muted" %>
    <% end %>
  </nav>
</div>
