<div class="col-4 text-left">
  <%= link_to "<em>Quer</em>einsteiger".html_safe, blogs_path, class: 'blog-header-logo text-dark' %>
  <div class="mt-3">
    <%= link_to('Write a new post', new_blog_path, class: 'btn btn-primary') if logged_in?(:site_admin) %>
  </div>
</div>
