<div class="container">
  <%= source_helper('alert alert-info portfolio-source-helper') %>
</div>

<section class="jumbotron text-center">
  <div class="container">
    <h1>Work examples</h1>
    <p class="lead text-muted">That are some of my projects I was working on. Most of them are tutorial projects, but there are also some for Clients.</p>
    <p>
      <%= link_to 'Find out more about me', about_me_path, class: "btn btn-primary my-2" %>
      <%= link_to 'My blog', blogs_path, class: "btn btn-secondary my-2" %>
    </p>
  </div>
</section>
