<div class="app-card-container">
  <div class="card">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag('profile.jpg', alt: 'profile image of portfolio owner', width: '100%') %>
      </div>
      <div class="col-md-8">
        <h1>I am Theresa, a <em>Quer</em>einsteiger full-stack developer using <small>Ruby on Rails</small> and <small>HTML5/CSS</small> with a bit of <small>Javascript</small></h1>
      </div>
    </div>
  </div>
</div>
