<div class="app-card-container">
  <div class="card">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag('profile.jpg', alt: 'profile image of portfolio owner', width: '100%') %>
      </div>
      <div class="col-md-8">
        <h1>I am Theresa, a <em>Quer</em>einsteiger full-stack developer using <small>Ruby on Rails</small> and <small>HTML5/CSS</small> with a bit of <small>Javascript</small></h1>
        <div class="row">
          <div class="col-md-6">
            <p>
              <button
                class="btn btn-info"
                type="button"
                data-toggle="collapse"
                data-target="#jobHistory"
                area-expanded="false"
                aria-controler="jobHistory"
              >
                Job History
              </button>
            </p>

            <p>
              <div class="collapse" id="jobHistory">
                <div class="card card-block">
                  1. UNU-FLORES
                </div>
                <div class="card card-block">
                  2. ResearchGate
                </div>
                <div class="card card-block">
                  3. Parkling
                </div>
                <div class="card card-block">
                  2. Motiontag
                </div>
              </div>
            </p>
          </div>

          <div class="col-md-6">
            <p>
              <button
                class="btn btn-info"
                type="button"
                data-toggle="collapse"
                data-target="#education"
                area-expanded="false"
                aria-controler="education"
              >
                Education
              </button>
            </p>

            <p>
              <div class="collapse" id="education">
                <div class="card card-block">
                  University
                </div>
                <div class="card card-block">
                  PHD Geophysics
                </div>
              </div>
            </p>
          </div>
        </div>
      </div>
    <div>
  </div>
</div>
