<main role="main" class="inner cover">
  <h1 class="cover-heading">Curious?</h1>

  <div id="typed-strings">
    <p> I am a <em>Quereinsteiger</em> full-stack developer </p>
    <p> I am a full-stack developer </p>
    <p> I am a full-stack developer using </em>simple</em> HTML&CSS, ^500 </p>
    <p> I am a full-stack developer using HTML&CSS, ^500 a little bit of javascript and ^500 Ruby on Rails.</p>
    <p> I am building beautiful web-apps with my clients in mind. </p>
    <p> I create, ^500 build and bring ideas into life.</p>
  </div>
  <div class="typed lead"></div>

  <p class="lead mt-5">
    <%= link_to 'About me', about_me_path, class: 'btn btn-lg btn-info' %>
  </p>
</main>
