// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";
@import "jquery-ui";


h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: 'Roboto Slab', serif;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

/********************/
/** CUSTOM styles ***/
/********************/

.portfolio-source-helper {
  margin-top: 20px;
}
